<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="log-footer"><img src="../../assets/fire.jpg"></div>
        <div class="box-footer">
            <button> Entre em Contato</button>
            <div class="end">Endereço</div>
            <span id="footer">Rua das roansasdkopsadopjsadmoasmdokaospkdposad</span>
        </div>
        <div class="sociais"> 
            <div class="title-soc">Redes Sociais</div>
            <div class="sub-so">Curta e siga a SRN nas redes sociais</div>
            <div class="log-soc">
                <img src="../../assets/facebook.png">
                <img src="../../assets/twitter.png">
                <img src="../../assets/instagram.png">
            </div>
        </div>
    </footer>
</body>
</html>